# basic stuff
jupyter
jupyter-contrib-nbextensions

# do some math and work with datasets
numpy
scipy
pandas

# everybody loves graphs
matplotlib
seaborn

# smart things
scikit-learn
tensorflow

# more kernels
bash_kernel
