docutils
graphviz
ipykernel
ipyparallel
ipython
ipython-genutils
ipywidgets
Jinja2
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
MarkupSafe
matplotlib
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
PyYAML
pyzmq
qtconsole
requests
scikit-learn
scipy
seaborn
sklearn
sklearn-extras
sklearn-pandas
Sphinx
widgetsnbextension

